{% extends 'base.html' %}
{% block title %}BBC{% endblock %}
{% block body %}

<!--<style>-->
<!--    .img{-->
<!--        width:100px;-->
<!--        height:50px;-->
<!--    }-->
<!--</style>-->

<div class="jumbotron" style="color:black">
    <h1 style="color:black">
        This is the latest news
    </h1>
</div>

<div class="container">
    {% for new, des, i in mylist %}
    <img class="width:150px height:70px" src="{{i}}" alt="">
    <h3>News:</h3> {{new}}
    {{value | linebreaks}}

    <h4>Description:</h4> {{des}}
    {{value | linebreaks}}
    {% endfor %}
</div>
</div>
{% endblock %}

